{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}

    <h1>Confirmer votre réservation Location</h1>

    <p>{{ vehicule.brand }}</p>


    <form class="form-group">
	    {{ form_start(form) }}

	    <label for="exampleInputEmail1">Choisir une date</label>
	    <input class="form-control mb-3" type="date" name=""> 

	    {{ form_row(form.vehicule) }}  

	    {{ form_row(form.contrat) }}  

	    {{ form_widget(form) }}
	    <button class="btn btn-primary">{{ button_label|default('Payer') }}</button>
		{{ form_end(form) }}

	</form>
  

{% endblock %}
