
{% if lastOrderedRecommandation.id is defined %}
<div class="col-5">
	<div class="card" style="width: 18rem;">
	  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	  <div class="card-body">
	  	<h3>Une balade à {{ lastOrderedRecommandation.vehicule.ville.name|capitalize }}&nbsp;:</h3>
	  	<br />
	    
	    <h5 class="card-title">En {{ lastOrderedRecommandation.vehicule.type.name }} </h5>
	    <p class="card-text"> </p>
	    <p class="card-text"></p>
	    <a href="/location/recommandation/{{ lastOrderedRecommandation.contrat.id }}/{{ lastOrderedRecommandation.vehicule.ville.name }}/{{ lastOrderedRecommandation.vehicule.type.name }}" class="btn btn-primary">à partir de {{ lastOrderedRecommandation.contrat.price }}</a>
	  </div>
	</div>
</div>
<div class="col-2">
	Ou
</div>
<div class="col-5">
	<div class="card" style="width: 18rem;">
	  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	  <div class="card-body">
	  	<h3>Une balade à {{ mostVille|capitalize }}&nbsp;:</h3>
	  	<br />
	    
	    <h5 class="card-title">En {{ mostType }} </h5>
	    <p class="card-text"> </p>
	    <p class="card-text"></p>
	    <a href="/location/recommandation/{{ idC }}/{{ mostVille }}/{{ mostType }}" class="btn btn-primary">{{ bestOffre }}</a>
	  </div>
	</div>
</div>
{% else %}
<div>
 PUB
</div>
{% endif %}

