{% extends 'base.html.twig' %}

{% block title %}Home | Lib2Move {% endblock %}

{% block body %}
    <h1 class="mt-3">Lib2Move</h1>
    {% if app.user.firstname is defined %}
        <p>Hello {{ app.user.firstname }}, content de vous revoir !</p>
    {% endif %} 

    <h2 class="m-3 mt-5">Réserver un vehicule : Aujourd'hui</h2>

    <form>
        {{ form_start(form) }}  
        <div class="form-row">
            <div class="col">
                {{ form_row(form.ville) }}  
            </div>
            <div class="col">
                {{ form_row(form.typeVehicule) }}
            </div>
             <div class="col">
                {{ form_row(form.start) }}
            </div>
              <div class="col">
                {{ form_row(form.end) }}
            </div>
             <div class="col">
                <button class="btn btn-primary" style="margin-top:31px;">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}      
    </form>

    {% if vehicules %}
        <h2 class="m-3">Results</h2>
    {% endif %}

    <div class="card-columns">
        {% for vehicule in vehicules %}
            <div class="card border-primary mb-3">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-header bg-primary border-primary text-white">{{ vehicule.brand|capitalize }} {{ vehicule.serie|capitalize }}</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Serial number</th>
                            <td>{{ vehicule.serialNumber|capitalize }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ vehicule.type.name|capitalize }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer bg-transparent">
                    <a href="location/add/{{vehicule.id}}" class="btn btn-primary">Reserver</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
    
{% endblock %}
