{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Max_km</th>
                <th>Max_time</th>
                <th>Price</th>
                <th>Km_penalty</th>
                <th>Time_penalty</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.maxKm }}</td>
                <td>{{ contrat.maxTime ? contrat.maxTime|date('H:i:s') : '' }}</td>
                <td>{{ contrat.price }}</td>
                <td>{{ contrat.kmPenalty }}</td>
                <td>{{ contrat.timePenalty }}</td>
                <td>{{ contrat.name }}</td>
                <td>
                    <a href="{{ path('contrat_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrat_new') }}">Create new</a>
{% endblock %}
